{% extends "base_generic.html" %}

{% block content %}
<div class="card my-4">
    <div class="card-body">
        <h2 class="card-title">Профиль</h2>
        <p class="card-text"><strong>Логин:</strong> {{ profile.user.username }}</p>
        <p class="card-text"><strong>Аты:</strong> {{ profile.user.first_name }}</p>
        <p class="card-text"><strong>Тегі:</strong> {{ profile.user.last_name }}</p>
        <p class="card-text"><strong>Лауазымы:</strong> {{ profile.position }}</p>
        <p class="card-text"><strong>Жалпы жұмыс сағаттары:</strong> {{ profile.total_hours_worked|floatformat:2 }}</p>
        <p class="card-text"><strong>Жалпы табыс сомасы:</strong> {{ profile.total_earnings|floatformat:2 }}</p>
        <div class="text-center">
            <a href="{% url 'profile_edit' %}" class="btn btn-primary d-inline-block">Өңдеу</a>
            {% if not user.is_superuser %}
                {% if not has_active_session %}
                    <a href="{% url 'start_work' %}" class="btn btn-success d-inline-block">Жұмысты бастау</a>
                {% else %}
                    <a href="{% url 'end_work' %}" class="btn btn-danger d-inline-block">Жұмысты аяқтау</a>
                    <p class="mt-3"> <span id="work-time" class="display-4">0:00:00</span></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% if has_active_session %}
<script>
    function startTimer(startTime) {
        function updateTimer() {
            const now = new Date();
            const diff = now - startTime;
            const hours = Math.floor(diff / (1000 * 60 * 60));
            const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((diff % (1000 * 60)) / 1000);
            document.getElementById('work-time').textContent = `${hours}:${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        }
        updateTimer();
        setInterval(updateTimer, 1000);
    }

    // Initialize the timer with the start time from the server
    const startTime = new Date("{{ active_session.start_time|date:'c' }}");
    startTimer(startTime);
</script>
{% endif %}
{% endblock %}
